{{define "title"}}Sign In{{end}}

{{define "main"}}
{{template "signinnav" .}}
<div class="container">
    <form action="/signin" method="POST">
        <div>
            {{with .Form.Errors.autherr}}
                <label class="text-danger">{{.}}</label><br>
            {{end}}
        </div>
        <div>
            <label>Name:</label><br>
            {{with .Form.Errors.name}}
                <label class="text-danger">{{.}}</label><br>
            {{end}}
            <input type="text" name="name" value="{{.Form.Name}}"><br>
        </div>
        <div>
            <label>Password:</label><br>
            {{with .Form.Errors.password}}
                <label class="text-danger">{{.}}</label><br>
            {{end}}
            <input type="password" name="password"><br><br>
        </div>
        <div>
            <input type="submit" class="btn btn-success" value="Sign In">
        </div>
    </form>
</div>
{{end}}
